<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>

    <body>
        <div class="container">
            <div id="wrapper">
                <%- include ('../partials/header') %>
                    <%- include ('../partials/navigations.ejs') %>
            </div>
            <main>
                <%- body %>
            </main>
            <%- include ('../partials/footer') %>
        </div>
    </body>

</html>